body{
    margin: 0px;
    background-color: black;
}
.Container{
    color: white;
    text-align: left;
    padding-left: 57px;
    display: flex;
    flex-direction: column;
}
.movie{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
}
.movie img{
    width: 30%;
    border-radius: 10px;
}
/* media query with phone */
@media (max-width: 720px){
    .container{
        display: block;
    }
    .movie{
         display: flex;
    }
    .movie img{
        width: 47%; 
    }
}
.sidebar{
    position: fixed;
    font-size: 8px;
    top: 21px;
    left: 0px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 40px;
}
.sidebar div{
    gap: 30px;
    padding: 10px;
    height: 71px;
}



